<!DOCTYPE html>
<!-- saved from url=(0046)http://bootstrapstyler.com/preview/_/adaptive/ -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="t">Trombino - Créez vos trombinoscopes</title>

    <!-- BOOTSTRAPS -->
    <link href="/themes/adaptive/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/themes/adaptive/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <link href="/themes/adaptive/theme.css" rel="stylesheet">
    <link href="/themes/adaptive/theme-responsive-767.css" rel="stylesheet">
    <link href="/themes/adaptive/theme-responsive-768-979.css" rel="stylesheet">
    <link href="/themes/adaptive/font-awesome.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/gears.css" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <div class="container">

        <div class="branding clearfix">
          <h1 class="logo pull-left">
            <a href="/"><i class="icon-adjust"></i> Trombino</a>
          </h1>

          <a class="btn btn-inverse nav-control hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <ul class="nav nav-collapse collapse pull-right">
            <li class="active">
              <a href="#top">Home</a>
            </li>
            <li>
              <a href="#about" class="t">A propos</a>
            </li>
          </ul><!--/.nav -->
        </div><!--/.branding -->

      </div>
    </div><!--/.header -->

    {{{body}}}

    <div class="footer">
      <div class="container">
        <div class="extras row">
          <div class="span4 module about">
            <a name="about"></a>
            <h3 class="t">A propos</h3>
            <p class="brief" class="t">Trombino est une expérimentation du framework NodeJS</p>
            <p class="location">
              <b class="icon"><i class="icon-user"></i></b>
              <a href="http://careers.stackoverflow.com/vincentlark" target="_blank">Vincent Lark</a>
            </p>
            <p class="mail">
              <b class="icon"><i class="icon-envelope"></i></b>
              <a href="mailto:vincent.lark@gmail.com">vincent.lark@gmail.com</a>
            </p>
          </div>
          <div class="span4 module twitter">
            <h3 class="t">Fabriqué avec</h3>
            <ul class="unstyled">
              <li class="tweet-row">
                <div class="tweet-text">
                  <a href="http://twitter.github.io/bootstrap/index.html" target="_blank">Bootstrap</a> <span class="t">par</span> Twitter
                </div>
              </li>
              <li class="tweet-row">
                <div class="tweet-text">
                  <a href="http://www.dropzonejs.com" target="_blank">Dropzonejs</a> <span class="t">par</span> Matias Meno
                </div>
              </li>
              <li class="tweet-row">
                <div class="tweet-text">
                  <a href="http://nodejs.org" target="_blank">NodeJS</a> <span class="t">par</span> Joyent
                </div>
              </li>
            </ul>
          </div>
          <div class="span4 module newsletter">
            <h3>Disclaimer</h3>
            <p class="t">Ce service est proposé "tel quel", sans aucune garantie. Si vous rencontrez un bug, ou vous souhaiteriez une nouvelle fonctionnalité, écrivez moi.</p>
            <p><a href="mailto:vincent.lark@gmail.com">vincent.lark@gmail.com</a></p>
          </div>
        </div><!--/.extras -->

        <div class="copyright clearfix">
          <ul class="nav pull-right">
            <li>
              <a href="http://twitter.com/allyouneedisgnu" target="_blank"><i class="icon-twitter"></i>&nbsp;<span class="t">Suivez-moi sur Twitter</span></a>
            </li>
            <li>
              <a href="http://github.com/vincent" target="_blank"><i class="icon-github"></i>&nbsp;<span class="t">ou Github</span></a>
            </li>
          </ul>

        </div>
      </div><!--/.copyright -->
    </div><!--/.footer -->

    <!-- SPACE FOR SCRIPTS -->
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/trombinode.js"></script>

    <script src="/js/translations.js"></script>
    <script type="text/javascript">
      (function(lang) {
        $('.t').each(function(i, el) {
          $(el).html(_t(el.innerHTML, lang));
        });
      })('{{language}}');
    </script>

    <script type="text/javascript" src="/js/jspdf/jspdf.js"></script>
    <script type="text/javascript" src="/js/jspdf/libs/Deflate/adler32cs.js"></script>
    <script type="text/javascript" src="/js/jspdf/libs/FileSaver.js/FileSaver.js"></script>
    <script type="text/javascript" src="/js/jspdf/libs/Blob.js/BlobBuilder.js"></script>
    <script type="text/javascript" src="/js/jspdf/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="/js/jspdf/jspdf.plugin.standard_fonts_metrics.js"></script>
    <script type="text/javascript" src="/js/jspdf/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="/js/jspdf/jspdf.plugin.from_html.js"></script>
  </body>
</html>
