.splash {
  padding: 40px 0;
}

.splash .headline,
.container .call-action {
  text-align: center;
}

.splash .headline p {
  font-size: 16px;
}

.icon-group {
  height: 122px;
  opacity: .7;
}
.icon-group:hover {
  opacity: 1;
}

.feature-brief .test {
  visibility: hidden;
}
.feature-brief:hover .test {
  visibility: visible;
}

input.person,
input.person_title,
input.person_bigtitle {
  font-size: 30px;
  margin-left: 10px;
  line-height: 50px;
  height: auto;
  background: none;
  color: #AAA;
  border: none;
  border-bottom: 1px dashed #ddd;
  width: auto;
  float: right;
}
input.person_bigtitle {
  float: none;
  width: 100%;
  margin: 30px auto;
  max-width: 550px;
}
input.person_title {
  font-size: 18px;
  line-height: 25px;
}

.persons {
  list-style-type: none;
  max-width: 550px;
  margin: 0 auto;
}
.persons li {
  margin: 10px 0;
  text-align: left;
}
.persons li img {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px -1px #EEE;
}
.persons li .action {
  visibility: hidden;
  float: right;
}
.persons li:hover .action {
  visibility: visible;
}

#uploader {
  width: 380px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
}

@media (max-width: 767px) {
  #uploader {
    max-width: 255px;
  }
}

.icon-dropzonejs {
  background: url(/img/logo_dropzonejs.png);
  width: 14px;
  height: 14px;
}

.icon-nodejs {
  background: url(/img/logo_nodejs.png);
  width: 14px;
  height: 14px;
}

.splash #uploader.dz-drag-hover {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5BB75B;
  background-image: -moz-linear-gradient(top,#62C462,#51A351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351));
  background-image: -webkit-linear-gradient(top,#62C462,#51A351);
  background-image: -o-linear-gradient(top,#62C462,#51A351);
  background-image: linear-gradient(to bottom,#62C462,#51A351);
  background-repeat: repeat-x;
  border-color: #51A351 #51A351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
