    <div class="splash front">
      <div class="container align-center">
        <div class="headline">
          <a name="top"></a>
          <h1>Des photos de groupe en trombe !</h1>
          <p class="t">Transformez vos photos de groupe en trombinoscope</p>
        </div>

        <div class="call-action" style="margin-top: 50px;">
          <a class="btn btn-orange btn-large t"  id="uploader">Glissez votre photo ici</a>
        </div>

        <div style="display:none;" id="preview"></div>

        <div class="features">
          <div class="row">
            <div class="feature span4">
              <div class="box">
                <b class="feature-icon">
                  <img class="icon-group" src="/img/group.png" />
                </b>
                <!-- <img src="img/samples/feature-1.jpg" /> -->
                <div class="feature-brief">
                  <h3 class="t">Transférez une photo de groupe</h3>
                  <p class="t">Nette, floue, en extérieur ou en intérieur, peu importe ! Fonctionne avec n'importe quelle photo de type <abbr>JPEG</abbr>, <abbr>GIF</abbr> ou <abbr>PNG</abbr>.</p>
                  <p class="test"><a class="t" target="_blank" href="http://images.google.com/?q=group">chercher une image pour tester</a></p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>

            <div class="feature span4">
              <div class="box">
                <b class="feature-icon gears">
                  <!-- <i class="icon-cogs"></i> -->

                  <div class="gears container">
                      <div class="gear" id="gear1"></div>
                      <div class="gear" id="gear2"></div>
                      <div class="gear" id="gear3"></div>
                  </div>

                </b>
                <div class="feature-brief">
                  <h3 class="t">Visages détectés, découpés.</h3>
                  <p class="t">Nous détectons les visages, même derrière d'autres personnes. Cela se fait en quelque instants.</p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>

            <div class="feature span4">
              <div class="box">
                <b class="feature-icon multiple" style="text-align:left; font-size:20px; font-weight: normal;">
                  <i class="icon-user" style="font-size:30px;"></i>&nbsp; Alice
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i>&nbsp; Bob
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i>&nbsp; Sophie
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i>&nbsp; Mathieu
                </b>
                <div class="feature-brief">
                  <h3 class="t">Nommez, imprimez !</h3>
                  <p class="t">Nommer chaque visage extrait, si une découpe ne convient pas, vous pouvez la supprimer.<br>Vous récupérez un PDF prêt à imprimer.</p>
                  <p class="test"><a target="_blank" href="/img/trombino.pdf" class="t">voir un exemple</a></p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>
          </div>
        </div><!--/.features -->

      </div>
    </div><!--/.splash -->
