    <div class="splash front">
      <div class="container align-center">
        <div class="headline">
          <h1>Des photos de groupe en trombe !</h1>
          <p>Transformez vos photos de groupe en trombinoscope.</p>
        </div>

        <div class="call-action" style="margin-top: 50px;">
          <a class="btn btn-orange btn-large"  id="uploader">Glissez votre photo ici</a>
        </div>

        <div style="display:none;" id="preview"></div>

        <div class="features">
          <div class="row">
            <div class="feature span4">
              <div class="box">
                <b class="feature-icon">
                  <img class="icon-group" src="/img/group.png" />
                </b>
                <!-- <img src="img/samples/feature-1.jpg" /> -->
                <div class="feature-brief">
                  <h3>Endless Customization</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>

            <div class="feature span4">
              <div class="box">
                <b class="feature-icon gears">
                  <!-- <i class="icon-cogs"></i> -->

                  <div class="gears container">
                      <div class="gear" id="gear1"></div>
                      <div class="gear" id="gear2"></div>
                      <div class="gear" id="gear3"></div>
                  </div>

                </b>
                <div class="feature-brief">
                  <h3>Responsive Ready</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>

            <div class="feature span4">
              <div class="box">
                <b class="feature-icon multiple" style="text-align:left; font-size:20px; font-weight: normal;">
                  <i class="icon-user" style="font-size:30px;"></i> . Bob
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i> . Mary
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i> . Charly
                  <br>
                  <i class="icon-user" style="font-size:30px;"></i> . Ben
                </b>
                <div class="feature-brief">
                  <h3>Unlimited use</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
                </div>
                <!-- <a class="btn">Learn More</a> -->
              </div>
            </div>
          </div>
        </div><!--/.features -->

      </div>
    </div><!--/.splash -->
