    <div class="content">

      <div class="portfolio align-center container">
        <div class="headline">
          <h2>Projects</h2>
          <p>Lacus Nam natoque quis morbi in Nam sit elit Vestibulum sollicitudin. Id aliquam convallis at id In auctor orci Sed.</p>
        </div>

        <div class="projects row-fluid">
          <div class="project span3">
            <a class="project-thumb" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <img>
            </a>

            <h3>Endless Customization</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
          </div>

          <div class="project span3">
            <a class="project-thumb" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <img>
            </a>

            <h3>Endless Customization</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
          </div>

          <div class="project span3">
            <a class="project-thumb" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <img>
            </a>

            <h3>Endless Customization</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
          </div>

          <div class="project span3">
            <a class="project-thumb" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <img>
            </a>

            <h3>Endless Customization</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur.</p>
          </div>
        </div>

        <a href="http://bootstrapstyler.com/preview/_/adaptive/#" class="btn btn-large">Show all projects</a>
      </div>


      <hr class="seperator">


      <div class="clients align-center container">
        <div class="headline">
          <h2>Happy Clients</h2>
          <p>Lacus Nam natoque quis morbi in Nam sit elit Vestibulum sollicitudin. Id aliquam convallis at id In auctor orci Sed.</p>
        </div>
        <div class="testimonials row">
          <div class="span6">
            <div class="people">
              <img src="/themes/adaptive/people-1.png" class="face pull-left">
              <p>Suspendisse in lorem ipsum ut magna pharera aliquet non sodales lorem ipsum belit. Donec sed odio rera aliquet. Nulla vitae elit libero, a pharetra augue.</p>
              <small><strong>John Doe</strong> - Google.</small>
            </div>
          </div>
          <div class="span6">
            <div class="people">
              <img src="/themes/adaptive/people-1.png" class="face pull-left">
              <p>Suspendisse in lorem ipsum ut magna pharera aliquet non sodales lorem ipsum belit. Donec sed odio rera aliquet. Nulla vitae elit libero, a pharetra augue.</p>
              <small><strong>John Doe</strong> - Google.</small>
            </div>
          </div>
        </div>

        <div class="companies row-fluid">
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
          <div class="company span2">
            <a class="company-1" href="http://bootstrapstyler.com/preview/_/adaptive/#">
              <b></b>
              <i></i>
            </a>
          </div>
        </div>
      </div>

    </div><!--/.content -->
